@media all and (max-width: 1600px) {
	aside {
		left: -20%;
		width: 20%;
	}

	.content {
		margin: 10px 200px;
	}

	.content > h1 {
		font-size: 1.3em;
	}
}

@media all and (max-width: 1024px) {
	aside {
		left: -30%;
		width: 30%;
	}
}

@media all and (max-width: 960px) {
	aside {
		left: -32%;
		width: 32%;
	}

	.content {
		margin: 10px 170px;
	}
}

@media all and (max-width: 768px) {
	aside {
		left: -35%;
		width: 35%;
	}

	.content {
		margin: 10px 110px;
	}

	iframe {
		height: 295px;
		width: 540px;
	}
}

@media all and (max-width: 640px) {
	aside {
		left: -38%;
		width: 38%;
	}
	.content {
		margin: 10px;
	}
	.video-content {
		margin: 0;
	}
	.video {
		margin: 0;
	}
	iframe {
		width: 100%;
	}
}

@media all and (max-width: 480px) {
	.header {
		height: inherit;
	}

	aside {
		left: -100%;
		width: 100%;
	}

	.logo-container {
		margin-top: 30px;
	}

	.logo {
		transform: scale(0.7);
	}

	.bankin-container img.fire,
	.bankin-container img.rocket {
		width: 150px;
		height: 350px;
	}

	.content > h1 {
		margin: 50px 20px;
	}
}

@media all and (max-width: 320px) {

}
