@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

html, body {
  height: 100%;
}

body {
  font-family: 'Oxygen', sans-serif;
  color: #333;
}

#wrapper {
  min-height: 100%;
}

.page-wrap {
  background: rgba(0,0,0,0);
  transition: all .3s ease-in-out;
}

.header {
  z-index: 0;
  position: relative;
  height: 100vh;
  background-color:rgba(173,216,230,1);
  box-shadow: inset 0px 0px 300px -10px rgba(0,0,0,0.7);
  overflow: hidden;
}

input[type="checkbox"] {
  display: none;
}

label {
  position: fixed;
  z-index: 20;
  margin: 10px;
  padding: 20px 20px;
  display: inline-block;
  cursor: pointer;
}

.bar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 5px;
  width: 95%;
  border-radius: 5px;
  margin: auto;
	background-color: white;
  border: 1px solid black;
	transition: all 0.3s ease-in-out;
}

.top {
  top: 20px;
}

.bottom {
  top: -20px;
}

input[type="checkbox"]:checked ~ label .top {
  top: 0;
  transform: rotateZ(-135deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

input[type="checkbox"]:checked ~ label .bottom {
  top: 0;
  transform: rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ .page-wrap {
  background: rgba(0,0,0,0.7);
}

input[type="checkbox"]:checked ~ .page-wrap .header,
input[type="checkbox"]:checked ~ .page-wrap footer {
  z-index: -1;
}

input[type="checkbox"]:checked ~ aside {
  transform: translateX(100%);
}

aside {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: -15%;
  width: 15%;
  height: 100%;
  background-color: rgba(30,87,153,0.5);
  transition: transform 0.3s ease-in-out;
}

aside > ul {
  margin-top: 100px;
}

aside > ul > li {
  border-bottom: 1px solid white;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

aside > ul > li > a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  width: 100%;
  height: 100%;
}

aside > ul > li:hover{
  cursor: pointer;
  background-color: rgba(78,136,193,1);
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-container a {
  z-index: 51;
}

.logo {
  margin-top: 25px;
  margin-bottom: 25px;
  transition: all 0.3s ease;
  animation: fadeInUp 1s ease 0s;
  animation-iteration-count: 1;
  z-index: 50;
}

.logo:hover {
  transform: scale(1.05);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.bankin-container {
  display: flex;
  justify-content: center;
}

.rocket {
  z-index: 50;
  width: 300px;
  height: 700px; 
  transform: rotateZ(90deg);
  animation-name: fly;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes fly {
  0% {
    transform: translateX(-500%)  rotateZ(90deg);
  }
  50% {
    transform: translateX(0%)  rotateZ(90deg);
  }
  100% {
    transform: translateX(700%)  rotateZ(90deg);
  }
}

.fire {
  z-index: 50;
  width: 300px;
  height: 700px;
  transform: rotateZ(90deg);
  animation-name: fire;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  /*animation-play-state: paused;*/
}

@keyframes fire {
  0% {
    transform: translateX(-600%)  rotateZ(90deg);
  }
 /* 50% {
    transform: translateX(0%)  rotateZ(90deg);
  }*/
  100% {
    transform: translateX(600%)  rotateZ(90deg);
  }
}

/* Content */

.content {
  border: 10px solid black;
  margin: 10px;
  padding: 10px;
}

.content > p {
  margin: 50px;
  text-align: justify;
  font-size: 20px;
}

footer {
  text-align: center;
  background-color: #234464;
  color: #fff;
  font-size: 18px;
}

footer > p {
  width: 70%;
  margin: auto;
  padding: 20px 0;
}
